* {
    box-sizing: border-box;
}
body {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: 0;
}
.icon {
    size: 100px;
    color: rgb(34, 226, 16)
}
#result {
    display: flex;
    justify-content: center;
}